html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




@font-face {
	font-family: 'MontserratBlack';
	src: url('../fonts/MontserratBlack.eot');
	src: url('../fonts/MontserratBlack.eot?#iefix') format('embedded-opentype'),
	url('../fonts/MontserratBlack.otf') format('opentype'),
	url('../fonts/MontserratBlack.woff2') format('woff2'),
	url('../fonts/MontserratBlack.woff') format('woff'),
	url('../fonts/MontserratBlack.svg#MontserratBlack') format('svg');
	font-weight: normal;
	font-style: normal;
}



body {
	-webkit-text-size-adjust: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
    background: #f4f5fb;
    color: #18202E;
}
body * {
	box-sizing: border-box;
	line-height: 1.42857143;
}
h1, h2, h3, h4, h5, h6, strong, b {
	/*font-family: 'Montserrat', sans-serif;*/
	font-weight: 700;
	line-height: 1.1;
}
i, em {
	font-style: italic;
}
img {
	max-width: 100%;
	height: auto;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: none;
}
p{
    color: #18202E;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 15px;
}
input[type=text],
input[type=submit],
input[type=image],
input[type=password],
input[type=email],
button,
textarea {
    -webkit-appearance: none;
}
textarea,
button,
input[type=password],
input[type=email],
input[type=submit],
input[type=text] {
	font-family: 'Open Sans', sans-serif;
}
a:focus {
	text-decoration: none;
}
textarea:focus,
button:focus,
a:focus,
input:focus {
	outline: none;
}

/* Header Starts */
.header nav {
	background: #18202e;
}
.header .navbar-nav .nav-link {
    padding: 6px 40px 7px 40px;
}
.header .navbar-brand{
    line-height: 0px;
}
.btn-primary{
    background-color: #9A300C;
    border-color: #9A300C;
}
.btn-primary:hover{
    background-color: #DC592D;
    border-color: #DC592D;
}
.header .navbar-nav, .header .navbar-nav li{
    height: 100%;
}
.header .navbar-nav li{
    display: flex;
    align-items: center;
}
.header .navbar-nav li.active{
    border-top: 4px solid #F17022;
}
.header .navbar-nav li a{
    color: #C0C4D7 !important;
    font-weight: 700;
}
.header .navbar-nav li.active a, .header .navbar-nav li a:hover{
    color: #fff !important;
}
/* Header Ends */



/* FOOTER -- start */
.footer {
	background: #18202e;
}
.footer-top {
	padding-top: 35px;
	padding-bottom: 5px;
	position: relative;
	color: #fff;
}
.footer-top:after {
	clear: both;
	display: block;
	content: '';
}
.footer-menu {
	float: left;
	width: 17%;
	padding: 0 1% 0 0;
	margin: 0 0 22px;
	font-size: 14px;
}
.footer-menu p {
	font-size: 17px;
	color: #868ca7;
	margin: 0 0 12px;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}
.footer-menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.footer-menu ul li {
	margin: 0 0 8px;
	padding: 0;
	font-size: 13px;
}
.footer-menu ul li a {
	color: #fff;
	line-height: 100%;
	border-bottom: 1px solid transparent;
	transition: all 0.2s;
}
.footer-menu ul li a:hover {
	border-bottom: 1px solid #fff;
	color: #fff;
}
.footer-info {
	float: left;
	width: 49%;
	color: #fff;
	font-size: 14px;
	
}
.footer-info .footer-msg {
	color: #868ca7;
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;
	margin: 0 0 23px;
	padding: 0;
}
.footer-info .footer-msg a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	border-bottom: 2px solid #ff3100;
	transition: all 0.2s;
}
.footer-info .footer-msg a:hover {
	border-color: rgba(0,0,0,0);
}
.footer-info .footer-social {
	overflow: hidden;
	margin: 0;
	padding: 0;
	text-align: justify;
	font-size: 1px;
}
.footer-info .footer-social:after {
	display: inline-block;
	content: '';
	width: 100%;
}
.footer-info .footer-social li {
	font-size: 20px;
    margin: 0 0 25px;
    padding: 0;
    display: inline-block;
    line-height: 100%;
}
.footer-info .footer-social li a {
	color: #fff;
	transition: all 0.2s;
}
.footer-info .footer-social li a:hover {
	color: #ff3100;
}
.footer-info form {
	position: relative;
	margin: 0 0 10px;
}
.footer-info form input[type=text] {
	border: 1px solid #2b3548;
    border-radius: 3px;
    background: #161d29;
    font-size: 15px;
    color: #b1bcd0;
    transition: all 0.2s;
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 180px 0 15px;
}
.footer-info form input[type=text]:focus {
	border-color: #3F4A61;
}
.footer-info form input[type=text]::-webkit-input-placeholder {
    color: #b1bcd0;
}
.footer-info form input[type=text]::-moz-placeholder {
   color: #b1bcd0;
   opacity: 1;
}
.footer-info form input[type=text]:-ms-input-placeholder {
   color: #b1bcd0;
}
.footer-info form input[type=submit] {
    background: #ff3100;
    transition: all 0.2s;
    border-radius: 2px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    position: absolute;
    height: 34px;
    top: 3px;
    right: 3px;
    display: block;
    border: none;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 0 15px;
    min-width: 174px;
    cursor: pointer;
}
.footer-info form input[type=submit]:hover {
	background: #ff4719;
}



.footer .copyright {
	text-align: center;
	color: #324057;
	font-size: 15px;
	padding: 15px 0 18px;
	background: #1a2332;
	border-top: 1px solid #283346;
}
.footer .copyright p {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}
/* FOOTER -- end */

.btn-rounded{
    border-radius: 40px;
    padding: 6px 25px;
    
}
.main_sec{
    padding-top: 80px;
    padding-bottom: 80px;
}
.main_head{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.main_head span{
    font-size: 30px;
    color: #9A300C;
    display: block;
}
small{
    font-size: 12px;
}
.head_secondary{
    font-size: 28px;
}
.head_secondary span{
    font-size: 28px;
    color: #9A300C;
}

.modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}
.modal-body {
position:relative;
padding:0px;
}
.close {
position:absolute;
right:-30px;
top:0;
z-index:999;
font-size:2rem;
font-weight: normal;
color:#fff;
opacity:1;
}

/* Testimonials Start */
.tsm_user_img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	display: inline-block;
	margin-top: 30px;
}
.tsm_user_img img{
	min-width: 100%;
	min-height: 100%;
	width: 100%;
}
#testimonial_slider .carousel-control-next, #testimonial_slider .carousel-control-prev{
	background-color: #9A300C;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	top: 100%;
	right: 41%;
	margin-top: 20px;
}
#testimonial_slider .carousel-control-prev{
	left: 41%;
}
/* Testimonials End */

/* Deliver Process Starts */
.delivery-process_list{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.delivery-process_list li{
	width: 170px;
	height: 170px;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	font-size: 17px;
	position: relative;
}
.delivery-process_list li:after{
	content: url(../images/arrow.png);
	position: absolute;
	right: -43px;
}
.delivery-process_list li:last-child:after{
	content: none;
}
.delivery-process_list li:nth-child(even){
	background-color: #9A300C;
}
.delivery-process_list li:nth-child(odd){
	background-color: #18202E;
}
/* Delivery Process Ends */
