/*

====================================================================

   Mission & Vision

====================================================================

*/

.mv{

  padding: 30px 0px 0px;

}

.blog-latest-mv{

  padding: 100px 0 100px

}

.mv .sec-title{margin: 0px 0px 66px;}

.mv .sec-title p{

  max-width:650px;

  color: #848484;

}





.mv .mv-post {

  float: left;

  width: 100%;

  background: #fff;

  position: relative;

  margin-bottom: 30px;

  -webkit-box-shadow: 0px 0px 20px #DFDFDF;

  -moz-box-shadow: 0px 0px 20px #DFDFDF;

  -ms-box-shadow: 0px 0px 20px #DFDFDF;

  -o-box-shadow: 0px 0px 20px #DFDFDF;

  box-shadow: 0px 0px 20px #DFDFDF;

  

  -webkit-transition: all 0.3s ease;

  -moz-transition: all 0.3s ease;

  -ms-transition: all 0.3s ease;

  -o-transition: all 0.3s ease;

  transition: all 0.3s ease;

}

.mv .mv-post img {

  -webkit-transition: all 0.5s ease;

  -moz-transition: all 0.5s ease;

  -ms-transition: all 0.5s ease;

  -o-transition: all 0.5s ease;

  transition: all 0.5s ease;

}

.mv .mv-post:hover img, .mv .mv-post:focus img {

  -webkit-transform: scale(1.1);

  -moz-transform: scale(1.1);

  -o-transform: scale(1.1);

  -ms-transform: scale(1.1);

  transform: scale(1.1);

}

.mv .mv-post .mv-post-image {

  position: relative;

  overflow: hidden;

  z-index: 1;

}

.mv .mv-post .mv-post-image .mv-overlay {

  z-index: 1;

  background: rgba(0, 0, 0, 0.3);

  position: absolute;

  top: 0;

  bottom: 0;

  left: 0;

  right: 0;

}

.mv .mv-post .mv-post-image .mv-category {

  margin: 20px 0 0 15px;

  float: left;

  z-index: 2;

  position: absolute;

}

.mv .mv-post .mv-post-image .mv-category > a {

  font-size: 12px;

  font-weight: 700;

  padding: 5px 15px;

  line-height: 1.5;

  font-family: "Open Sans", Arial, sans-serif;

  text-transform: uppercase;

  color: #fff;

  border: 1px solid #F17022;

  margin: 0 4px 4px 0;

  background: #F17022;

  display: -moz-inline-stack;

  display: inline-block;

  zoom: 1;

  *display: inline;

}

.mv .mv-post .mv-post-image .mv-category > a:hover {

  background: transparent;

  border: 1px solid #fff;

}

.mv .mv-post .mv-post-image .mv-category > a:hover, 

.mv .mv-post .mv-post-image .mv-category > a:active, 

.mv .mv-post .mv-post-image .mv-category > a:focus {

  text-decoration: none;

}

.mv .mv-post .mv-post-text {

  padding: 20px;

}

.mv .mv-post .mv-post-text h3 {

  font-size: 20px;

  margin-top: 10px;

  margin-bottom: 15px;

  font-weight: 500;

}

.mv .mv-post .mv-post-text h3 a {

  color: #222;

}

.mv .mv-post .mv-post-text h3 a:hover {

  color: #dc1d3e;

}

.mv .mv-post .mv-post-text h3 a:hover, .mv .mv-post .mv-post-text h3 a:active, .mv .mv-post .mv-post-text h3 a:focus {

  text-decoration: none;

}

.mv .mv-post .mv-post-text p {

  color:#18202E;
font-size: 14px;
font-weight: 400;
line-height: 1.5em;
margin-bottom: 15px;

}

.mv .mv-post .mv-post-text p:last-child {

  margin-bottom: 0 !important;

}

.mv .mv-post .mv-post-meta {

  border-top: 1px solid #f0f0f0;

  padding: 10px 20px;

  font-family: "Open Sans", Arial, sans-serif;

  font-weight: 400;

}

.mv .mv-post .mv-post-meta a {

  font-size: 13px;

  margin-right: 10px;

  margin-bottom: 20px;

  color: #b3b3b3;

}

.mv .mv-post .mv-post-meta a i {

  display: inline-block;

  margin-right: 5px;

  color: #dc1d3e

}

.mv .mv-post .mv-post-meta a:hover, .mv .mv-post .mv-post-meta a:active, .mv .mv-post .mv-post-meta a:focus {

  text-decoration: none;

}

.mv .mv-post .mv-post-meta a:hover {

  color: #dc1d3e;

}





.mv .owl-theme .owl-nav {

    margin: 0;

    padding: 0;

    position: absolute;

    bottom: 100%;

    right: 0;

    margin: 0;

    margin-bottom: 70px;

}



.mv .owl-theme .owl-nav [class*=owl-] {

    color: #dc1d3e;

    font-size: 24px;

    margin: 0;

    padding: 0;

    background-color: transparent;

    height: 40px;

    width: 40px;

    border: 2px solid #dc1d3e;

    line-height: 36px;

    text-align: center;

    margin-left: 10px;

    display: inline-block;

    -webkit-transition: color .3s ease;

    transition: color .3s ease;

}



.mv .owl-theme .owl-nav [class*=owl-]:hover {

    color: #fff;

    border: 2px solid #dc1d3e;

    background:#dc1d3e;

    -webkit-transition: .5s ease;

    transition: .5s ease;

}



/* Our values*/

.service-inner-content p{

  color:#18202E;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 15px;

}



.service-inner-content h4 {

    font-size: 16px;

    margin-top: 10px;

    margin-bottom: 15px;

    font-weight: 500;	

}



.sec-title p{

font-size: 14px;

    margin-bottom: 0;

    color: #a6a6a6;	

}



.ourvalues h4 {

    font-size: 20px;

    margin-top: 10px;

    margin-bottom: 15px;

    font-weight: 500;	

}



.ourvalues-icon {

    height: 81px;

    width: 81px;

    margin-top: 10px;

    border-radius: 0;

    box-shadow: none;

	

}

.ourvalues_sec {

    padding-top: 10px;

    padding-bottom: 10px;

}



.teamcount {

    padding-top: 0;

    padding-bottom: 20px;

    position: relative;

}



.team-box-4 {

    background-color: #F17022;

	color: white;

}



.team-box-4 h4{

	color: #000c69;

}



.team-box-4 p{

color: white;

		font-size: 14px;

    margin-bottom: 0;

}

.team-main-text li{
	color:#18202E;
font-size: 14px;
font-weight: 400;
line-height: 1.5em;
padding-left: 15px;
}
.team-main-text li::before{
  content: "\f00c";
  font-family:'FontAwesome';
  color: #9A300C;
  padding-right: 10px;
  position: absolute;
left: 0px;
}

.team-main-text p, .services p{

	color:#18202E;
font-size: 14px;
font-weight: 400;
line-height: 1.5em;
margin-bottom: 15px;	

}




.ourteam h4 {

    font-size: 20px;

    margin-top: 10px;

    margin-bottom: 15px;

    font-weight: 500;	

}



.ap-bg-white{

	background-color: #f4f5fb;

}

.ap-main_sec {

    padding-top: 20px;

    padding-bottom: 20px;

}



.Privacy h4 {

    font-size: 16px;

    margin-top: 10px;

    margin-bottom: 15px;

    font-weight: 500;

	color: #F17022;

}

.staffing h4{
	color: #000;

}

web-mobi p {
    font-size: 14px;
    margin-bottom: 0;
    color: #FFFFFF;
	text-align: center;
	}
	
	.web-mobi img {
	text-align: center;
	}
	
	.web-mobi1 p {
    color:#18202E;
font-size: 14px;
font-weight: 400;
line-height: 1.5em;
margin-bottom: 15px;
	}

.cyber p {
    color:#FFFFFF;
font-size: 14px;
font-weight: 400;
line-height: 1.5em;
margin-bottom: 15px;
	}
	
	.web-mobi h4 {
    font-size: 14px;
    margin-bottom: 0;
    color: #FFFFFF;
	text-align: center;
	}
	
	.web-mobi1 h4 {
    font-size: 18px;
    margin-bottom: 0;
    color: #000000;
	}
	




